/*RESET*/
nav, li {list-style: none;}
a {text-decoration: none; cursor: pointer;}
body {margin: 0; background-color: #ffb800; font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 1.5em; font-weight: 700;}
p {margin-top: 15px; margin-bottom: 15px; font-weight: bold;}
button {margin-top: 15px;}
/*FIM RESET*/

/*Header*/
header {color: white; display: flex; flex-direction: row; align-items: center; height: 70px;}
nav {color: white;}

.item {
    flex-grow: 1;
}

.article-01 {padding-left: 20px; flex-grow: 2;}
.article-02 {flex-grow: 3; margin-left: 15px;}
.article-03 {}

@media (max-width: 700px) {
    header {font-size: 0.8em;}
}

/*CONTEUDO*/
.conteudo {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    align-content: space-between;
    width:100vh;
}

.form-select form-select-sm {
    max-width: 200px;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
